.filter {
  align-text: center;
  background: darkorange;
  width: 250px;
  height: auto;
  margin-left: 8%;
  /*display: flex;*/
  position: absolute;
  margin-top: 10%;
  opacity: 0.9;
  font-size: 21px;
}

.filterButton {
  margin-top: 15px;
  align-items: center;
  margin-left: 30%;
}

.filterSelect {
  margin-left: 40px;
  background: white;
  width: 48px;
}
