@import '../../__data__/style/colors.css';

/*       display: inline;*/
/*       position: absolute;*/
/*       width: 100%;*/
/*       height: 198px;*/
/*       left: 0px;*/
/*       top: 0px;*/

/*       background: var(--green-main);*/
/*       border: 1px solid var(black-border);*/
/*       box-sizing: border-box;*/
/*}*/

/*.mainText {*/
/*       !* position: absolute;*/
/*       width: 50%;*/
/*       height: auto;*/
/*       margin-left: auto;*/
/*       margin-right: auto;*/
/*       top: 62px; *!*/

/*       text-align: center;*/
/*       display: block;*/
/*       margin-left: auto;*/
/*       margin-right: auto;*/
/*       width: 50%;*/

/*       font-family: Roboto;*/
/*       font-style: normal;*/
/*       font-weight: normal;*/
/*       font-size: 64px;*/
/*       line-height: 75px;*/
/*}*/

/*.category {*/
/*       display: inline-block;*/
/*       position: inhert;*/
/*       width: 354px;*/
/*       height: 78px;*/
/*       left: 723px;*/
/*       top: 209px;*/

/*       background: var(--red-category);*/
/*       mix-blend-mode: normal;*/
/*       border: 1px solid var(--black-border);*/
/*       box-sizing: border-box;*/
/*       box-shadow: 0px 4px 4px var(--black-border);*/
/*       text-align: center;*/
/*}*/

/*.textCategory {*/
/*       font-size: 24px;*/
/*}*/

/*.imgBackground {*/
/*       width: 100%;*/
/*       height: 10%*/
/*}*/

/*div button:hover {*/
/*       background: #ffffff*/
/*}*/
