.list {
  font-size: 18px;
  margin-left: 20%;
  margin-top: 15%;
  margin-right: 20%;
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  position: fixed;
}

.listBlock {
  display: block;
  padding: 10px;
  /*position: absolute;*/
}
