.filterBar {
  background: #04859d;
  width: 10%;
  margin-left: 64px;
  margin-top: 256px;
  box-sizing: border-box;
  display: block;
  position: relative;
}

h3,
p,
select,
button {
  font-size: 24px;
  text-align: center;
  box-sizing: border-box;
}

.zzz {
  width: 100%;
}

.tableCircuitcs {
  background: green;
  margin-left: 260px;
  margin-right: 252px;
  display: block;
  position: absolute;
  top: 315px;
  width: 80%;
}

.tableHedaer {
  text-align: center;
}

.mainCircuitcs {
  background: yellow;
  margin-top: 15%;
}
